
#example-block-summarize-block .hljs {
  color: #24292e;
  background: #ffffff;
}

#example-block-summarize-block .hljs-doctag,
#example-block-summarize-block .hljs-keyword,
#example-block-summarize-block .hljs-meta .hljs-keyword,
#example-block-summarize-block .hljs-template-tag,
#example-block-summarize-block .hljs-template-variable,
#example-block-summarize-block .hljs-type,
#example-block-summarize-block .hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #d73a49;
}

#example-block-summarize-block .hljs-title,
#example-block-summarize-block .hljs-title.class_,
#example-block-summarize-block .hljs-title.class_.inherited__,
#example-block-summarize-block .hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #6f42c1;
}

#example-block-summarize-block .hljs-attr,
#example-block-summarize-block .hljs-attribute,
#example-block-summarize-block .hljs-literal,
#example-block-summarize-block .hljs-meta,
#example-block-summarize-block .hljs-number,
#example-block-summarize-block .hljs-operator,
#example-block-summarize-block .hljs-variable,
#example-block-summarize-block .hljs-selector-attr,
#example-block-summarize-block .hljs-selector-class,
#example-block-summarize-block .hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #005cc5;
}

#example-block-summarize-block .hljs-regexp,
#example-block-summarize-block .hljs-string,
#example-block-summarize-block .hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #032f62;
}

#example-block-summarize-block .hljs-built_in,
#example-block-summarize-block .hljs-symbol {
  /* prettylights-syntax-variable */
  color: #e36209;
}

#example-block-summarize-block .hljs-comment,
#example-block-summarize-block .hljs-code,
#example-block-summarize-block .hljs-formula {
  /* prettylights-syntax-comment */
  color: #6a737d;
}

#example-block-summarize-block .hljs-name,
#example-block-summarize-block .hljs-quote,
#example-block-summarize-block .hljs-selector-tag,
#example-block-summarize-block .hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a;
}

#example-block-summarize-block .hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e;
}

#example-block-summarize-block .hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold;
}

#example-block-summarize-block .hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f;
}

#example-block-summarize-block .hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic;
}

#example-block-summarize-block .hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold;
}

#example-block-summarize-block .hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4;
}

#example-block-summarize-block .hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0;
}

#example-block-summarize-block .hljs-char.escape_,
#example-block-summarize-block .hljs-link,
#example-block-summarize-block .hljs-params,
#example-block-summarize-block .hljs-property,
#example-block-summarize-block .hljs-punctuation,
#example-block-summarize-block .hljs-tag {
  /* purposely ignored */
}
