
#example-block-markdown-block .markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #24292f;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

#example-block-markdown-block .markdown-body .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

#example-block-markdown-block .markdown-body h1:hover .anchor .octicon-link:before,
#example-block-markdown-block .markdown-body h2:hover .anchor .octicon-link:before,
#example-block-markdown-block .markdown-body h3:hover .anchor .octicon-link:before,
#example-block-markdown-block .markdown-body h4:hover .anchor .octicon-link:before,
#example-block-markdown-block .markdown-body h5:hover .anchor .octicon-link:before,
#example-block-markdown-block .markdown-body h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

#example-block-markdown-block .markdown-body details,
#example-block-markdown-block .markdown-body figcaption,
#example-block-markdown-block .markdown-body figure {
  display: block;
}

#example-block-markdown-block .markdown-body summary {
  display: list-item;
}

#example-block-markdown-block .markdown-body a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

#example-block-markdown-block .markdown-body a:active,
#example-block-markdown-block .markdown-body a:hover {
  outline-width: 0;
}

#example-block-markdown-block .markdown-body abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

#example-block-markdown-block .markdown-body b,
#example-block-markdown-block .markdown-body strong {
  font-weight: 600;
}

#example-block-markdown-block .markdown-body dfn {
  font-style: italic;
}

#example-block-markdown-block .markdown-body h1 {
  margin: 0.67em 0;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

#example-block-markdown-block .markdown-body mark {
  background-color: #ff0;
  color: #24292f;
}

#example-block-markdown-block .markdown-body small {
  font-size: 90%;
}

#example-block-markdown-block .markdown-body sub,
#example-block-markdown-block .markdown-body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

#example-block-markdown-block .markdown-body sub {
  bottom: -0.25em;
}

#example-block-markdown-block .markdown-body sup {
  top: -0.5em;
}

#example-block-markdown-block .markdown-body img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #ffffff;
}

#example-block-markdown-block .markdown-body code,
#example-block-markdown-block .markdown-body kbd,
#example-block-markdown-block .markdown-body pre,
#example-block-markdown-block .markdown-body samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

#example-block-markdown-block .markdown-body figure {
  margin: 1em 40px;
}

#example-block-markdown-block .markdown-body hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}

#example-block-markdown-block .markdown-body html [type="button"],
#example-block-markdown-block .markdown-body [type="reset"],
#example-block-markdown-block .markdown-body [type="submit"] {
  -webkit-appearance: button;
}

#example-block-markdown-block .markdown-body [type="button"]::-moz-focus-inner,
#example-block-markdown-block .markdown-body [type="reset"]::-moz-focus-inner,
#example-block-markdown-block .markdown-body [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

#example-block-markdown-block .markdown-body [type="button"]:-moz-focusring,
#example-block-markdown-block .markdown-body [type="reset"]:-moz-focusring,
#example-block-markdown-block .markdown-body [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

#example-block-markdown-block .markdown-body [type="checkbox"],
#example-block-markdown-block .markdown-body [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

#example-block-markdown-block .markdown-body [type="number"]::-webkit-inner-spin-button,
#example-block-markdown-block .markdown-body [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

#example-block-markdown-block .markdown-body [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

#example-block-markdown-block .markdown-body [type="search"]::-webkit-search-cancel-button,
#example-block-markdown-block .markdown-body [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

#example-block-markdown-block .markdown-body ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

#example-block-markdown-block .markdown-body ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

#example-block-markdown-block .markdown-body a:hover {
  text-decoration: underline;
}

#example-block-markdown-block .markdown-body hr::before {
  display: table;
  content: "";
}

#example-block-markdown-block .markdown-body hr::after {
  display: table;
  clear: both;
  content: "";
}

#example-block-markdown-block .markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

#example-block-markdown-block .markdown-body td,
#example-block-markdown-block .markdown-body th {
  padding: 0;
}

#example-block-markdown-block .markdown-body details summary {
  cursor: pointer;
}

#example-block-markdown-block .markdown-body details:not([open]) > *:not(summary) {
  display: none !important;
}

#example-block-markdown-block .markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175, 184, 193, 0.2);
  border-bottom-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
}

#example-block-markdown-block .markdown-body h1,
#example-block-markdown-block .markdown-body h2,
#example-block-markdown-block .markdown-body h3,
#example-block-markdown-block .markdown-body h4,
#example-block-markdown-block .markdown-body h5,
#example-block-markdown-block .markdown-body h6 {
  margin-top: 33px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

#example-block-markdown-block .markdown-body h2 {
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

#example-block-markdown-block .markdown-body h3 {
  font-weight: 600;
  font-size: 1.25em;
}

#example-block-markdown-block .markdown-body h4 {
  font-weight: 600;
  font-size: 1em;
}

#example-block-markdown-block .markdown-body h5 {
  font-weight: 600;
  font-size: 0.875em;
}

#example-block-markdown-block .markdown-body h6 {
  font-weight: 600;
  font-size: 0.85em;
  color: #57606a;
}

#example-block-markdown-block .markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

#example-block-markdown-block .markdown-body blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: 0.25em solid #d0d7de;
}

#example-block-markdown-block .markdown-body ul,
#example-block-markdown-block .markdown-body ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

#example-block-markdown-block .markdown-body ol ol,
#example-block-markdown-block .markdown-body ul ol {
  list-style-type: lower-roman;
}

#example-block-markdown-block .markdown-body ul ul ol,
#example-block-markdown-block .markdown-body ul ol ol,
#example-block-markdown-block .markdown-body ol ul ol,
#example-block-markdown-block .markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

#example-block-markdown-block .markdown-body dd {
  margin-left: 0;
}

#example-block-markdown-block .markdown-body tt,
#example-block-markdown-block .markdown-body code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 12px;
}

#example-block-markdown-block .markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 12px;
  word-wrap: normal;
}

#example-block-markdown-block .markdown-body :-ms-input-placeholder {
  color: #6e7781;
  opacity: 1;
}

#example-block-markdown-block .markdown-body ::-ms-input-placeholder {
  color: #6e7781;
  opacity: 1;
}

#example-block-markdown-block .markdown-body ::placeholder {
  color: #6e7781;
  opacity: 1;
}

#example-block-markdown-block .markdown-body .pl-c {
  color: #6e7781;
}

#example-block-markdown-block .markdown-body .pl-c1,
#example-block-markdown-block .markdown-body .pl-s .pl-v {
  color: #0550ae;
}

#example-block-markdown-block .markdown-body .pl-e,
#example-block-markdown-block .markdown-body .pl-en {
  color: #8250df;
}

#example-block-markdown-block .markdown-body .pl-smi,
#example-block-markdown-block .markdown-body .pl-s .pl-s1 {
  color: #24292f;
}

#example-block-markdown-block .markdown-body .pl-ent {
  color: #116329;
}

#example-block-markdown-block .markdown-body .pl-k {
  color: #cf222e;
}

#example-block-markdown-block .markdown-body .pl-s,
#example-block-markdown-block .markdown-body .pl-pds,
#example-block-markdown-block .markdown-body .pl-s .pl-pse .pl-s1,
#example-block-markdown-block .markdown-body .pl-sr,
#example-block-markdown-block .markdown-body .pl-sr .pl-cce,
#example-block-markdown-block .markdown-body .pl-sr .pl-sre,
#example-block-markdown-block .markdown-body .pl-sr .pl-sra {
  color: #0a3069;
}

#example-block-markdown-block .markdown-body .pl-v,
#example-block-markdown-block .markdown-body .pl-smw {
  color: #953800;
}

#example-block-markdown-block .markdown-body .pl-bu {
  color: #82071e;
}

#example-block-markdown-block .markdown-body .pl-ii {
  color: #f6f8fa;
  background-color: #82071e;
}

#example-block-markdown-block .markdown-body .pl-c2 {
  color: #f6f8fa;
  background-color: #cf222e;
}

#example-block-markdown-block .markdown-body .pl-sr .pl-cce {
  font-weight: bold;
  color: #116329;
}

#example-block-markdown-block .markdown-body .pl-ml {
  color: #3b2300;
}

#example-block-markdown-block .markdown-body .pl-mh,
#example-block-markdown-block .markdown-body .pl-mh .pl-en,
#example-block-markdown-block .markdown-body .pl-ms {
  font-weight: bold;
  color: #0550ae;
}

#example-block-markdown-block .markdown-body .pl-mi {
  font-style: italic;
  color: #24292f;
}

#example-block-markdown-block .markdown-body .pl-mb {
  font-weight: bold;
  color: #24292f;
}

#example-block-markdown-block .markdown-body .pl-md {
  color: #82071e;
  background-color: #ffebe9;
}

#example-block-markdown-block .markdown-body .pl-mi1 {
  color: #116329;
  background-color: #dafbe1;
}

#example-block-markdown-block .markdown-body .pl-mc {
  color: #953800;
  background-color: #ffd8b5;
}

#example-block-markdown-block .markdown-body .pl-mi2 {
  color: #eaeef2;
  background-color: #0550ae;
}

#example-block-markdown-block .markdown-body .pl-mdr {
  font-weight: bold;
  color: #8250df;
}

#example-block-markdown-block .markdown-body .pl-ba {
  color: #57606a;
}

#example-block-markdown-block .markdown-body .pl-sg {
  color: #8c959f;
}

#example-block-markdown-block .markdown-body .pl-corl {
  text-decoration: underline;
  color: #0a3069;
}

#example-block-markdown-block .markdown-body [data-catalyst] {
  display: block;
}

#example-block-markdown-block .markdown-body g-emoji {
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

#example-block-markdown-block .markdown-body g-emoji img {
  width: 1em;
  height: 1em;
}

#example-block-markdown-block .markdown-body::before {
  display: table;
  content: "";
}

#example-block-markdown-block .markdown-body::after {
  display: table;
  clear: both;
  content: "";
}

#example-block-markdown-block .markdown-body > *:first-child {
  margin-top: 0 !important;
}

#example-block-markdown-block .markdown-body > *:last-child {
  margin-bottom: 0 !important;
}

#example-block-markdown-block .markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

#example-block-markdown-block .markdown-body .absent {
  color: #cf222e;
}

#example-block-markdown-block .markdown-body .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

#example-block-markdown-block .markdown-body .anchor:focus {
  outline: none;
}

#example-block-markdown-block .markdown-body p,
#example-block-markdown-block .markdown-body blockquote,
#example-block-markdown-block .markdown-body ul,
#example-block-markdown-block .markdown-body ol,
#example-block-markdown-block .markdown-body dl,
#example-block-markdown-block .markdown-body table,
#example-block-markdown-block .markdown-body pre,
#example-block-markdown-block .markdown-body details {
  margin-top: 0;
  margin-bottom: 16px;
}

#example-block-markdown-block .markdown-body blockquote > :first-child {
  margin-top: 0;
}

#example-block-markdown-block .markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

#example-block-markdown-block .markdown-body sup > a::before {
  content: "[";
}

#example-block-markdown-block .markdown-body sup > a::after {
  content: "]";
}

#example-block-markdown-block .markdown-body h1 .octicon-link,
#example-block-markdown-block .markdown-body h2 .octicon-link,
#example-block-markdown-block .markdown-body h3 .octicon-link,
#example-block-markdown-block .markdown-body h4 .octicon-link,
#example-block-markdown-block .markdown-body h5 .octicon-link,
#example-block-markdown-block .markdown-body h6 .octicon-link {
  color: #24292f;
  vertical-align: middle;
  visibility: hidden;
}

#example-block-markdown-block .markdown-body h1:hover .anchor,
#example-block-markdown-block .markdown-body h2:hover .anchor,
#example-block-markdown-block .markdown-body h3:hover .anchor,
#example-block-markdown-block .markdown-body h4:hover .anchor,
#example-block-markdown-block .markdown-body h5:hover .anchor,
#example-block-markdown-block .markdown-body h6:hover .anchor {
  text-decoration: none;
}

#example-block-markdown-block .markdown-body h1:hover .anchor .octicon-link,
#example-block-markdown-block .markdown-body h2:hover .anchor .octicon-link,
#example-block-markdown-block .markdown-body h3:hover .anchor .octicon-link,
#example-block-markdown-block .markdown-body h4:hover .anchor .octicon-link,
#example-block-markdown-block .markdown-body h5:hover .anchor .octicon-link,
#example-block-markdown-block .markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

#example-block-markdown-block .markdown-body h1 tt,
#example-block-markdown-block .markdown-body h1 code,
#example-block-markdown-block .markdown-body h2 tt,
#example-block-markdown-block .markdown-body h2 code,
#example-block-markdown-block .markdown-body h3 tt,
#example-block-markdown-block .markdown-body h3 code,
#example-block-markdown-block .markdown-body h4 tt,
#example-block-markdown-block .markdown-body h4 code,
#example-block-markdown-block .markdown-body h5 tt,
#example-block-markdown-block .markdown-body h5 code,
#example-block-markdown-block .markdown-body h6 tt,
#example-block-markdown-block .markdown-body h6 code {
  padding: 0 0.2em;
  font-size: inherit;
}

#example-block-markdown-block .markdown-body ul,
#example-block-markdown-block .markdown-body ol {
  list-style: disc;
}
#example-block-markdown-block .markdown-body ul.no-list,
#example-block-markdown-block .markdown-body ol.no-list {
  padding: 0;
  list-style-type: none;
}

#example-block-markdown-block .markdown-body ol[type="1"] {
  list-style-type: decimal;
}

#example-block-markdown-block .markdown-body ol[type="a"] {
  list-style-type: lower-alpha;
}

#example-block-markdown-block .markdown-body ol[type="i"] {
  list-style-type: lower-roman;
}

#example-block-markdown-block .markdown-body div > ol:not([type]) {
  list-style-type: decimal;
}

#example-block-markdown-block .markdown-body ul ul,
#example-block-markdown-block .markdown-body ul ol,
#example-block-markdown-block .markdown-body ol ol,
#example-block-markdown-block .markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

#example-block-markdown-block .markdown-body li > p {
  margin-top: 16px;
}

#example-block-markdown-block .markdown-body li + li {
  margin-top: 0.25em;
}

#example-block-markdown-block .markdown-body dl {
  padding: 0;
}

#example-block-markdown-block .markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

#example-block-markdown-block .markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

#example-block-markdown-block .markdown-body table th {
  font-weight: 600;
}

#example-block-markdown-block .markdown-body table th,
#example-block-markdown-block .markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

#example-block-markdown-block .markdown-body table tr {
  background-color: #ffffff;
  border-top: 1px solid hsla(210, 18%, 87%, 1);
}

#example-block-markdown-block .markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#example-block-markdown-block .markdown-body table img {
  background-color: transparent;
}

#example-block-markdown-block .markdown-body img[align="right"] {
  padding-left: 20px;
}

#example-block-markdown-block .markdown-body img[align="left"] {
  padding-right: 20px;
}

#example-block-markdown-block .markdown-body .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

#example-block-markdown-block .markdown-body span.frame {
  display: block;
  overflow: hidden;
}

#example-block-markdown-block .markdown-body span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d0d7de;
}

#example-block-markdown-block .markdown-body span.frame span img {
  display: block;
  float: left;
}

#example-block-markdown-block .markdown-body span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292f;
}

#example-block-markdown-block .markdown-body span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

#example-block-markdown-block .markdown-body span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

#example-block-markdown-block .markdown-body span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

#example-block-markdown-block .markdown-body span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

#example-block-markdown-block .markdown-body span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

#example-block-markdown-block .markdown-body span.align-right span img {
  margin: 0;
  text-align: right;
}

#example-block-markdown-block .markdown-body span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

#example-block-markdown-block .markdown-body span.float-left span {
  margin: 13px 0 0;
}

#example-block-markdown-block .markdown-body span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

#example-block-markdown-block .markdown-body span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

#example-block-markdown-block .markdown-body code,
#example-block-markdown-block .markdown-body tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
}

#example-block-markdown-block .markdown-body code br,
#example-block-markdown-block .markdown-body tt br {
  display: none;
}

#example-block-markdown-block .markdown-body del code {
  text-decoration: inherit;
}

#example-block-markdown-block .markdown-body pre code {
  font-size: 100%;
}

#example-block-markdown-block .markdown-body pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

#example-block-markdown-block .markdown-body .highlight {
  margin-bottom: 16px;
}

#example-block-markdown-block .markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

#example-block-markdown-block .markdown-body .highlight pre,
#example-block-markdown-block .markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

#example-block-markdown-block .markdown-body pre code,
#example-block-markdown-block .markdown-body pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

#example-block-markdown-block .markdown-body pre pre {
  background: none !important;
}

#example-block-markdown-block .markdown-body .csv-data td,
#example-block-markdown-block .markdown-body .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

#example-block-markdown-block .markdown-body .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

#example-block-markdown-block .markdown-body .csv-data tr {
  border-top: 0;
}

#example-block-markdown-block .markdown-body .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

#example-block-markdown-block .markdown-body .footnotes {
  font-size: 12px;
  color: #57606a;
  border-top: 1px solid #d0d7de;
}

#example-block-markdown-block .markdown-body .footnotes ol {
  padding-left: 16px;
}

#example-block-markdown-block .markdown-body .footnotes li {
  position: relative;
}

#example-block-markdown-block .markdown-body .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}

#example-block-markdown-block .markdown-body .footnotes li:target {
  color: #24292f;
}

#example-block-markdown-block .markdown-body .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

#example-block-markdown-block .markdown-body [hidden] {
  display: none !important;
}

#example-block-markdown-block .markdown-body ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
